.box {
  width: 50%;
  height: 500px;
  margin: 40px auto;
  border: 1px solid black;
  border-radius: 12px;
  background-color: #f5f5f5;
  justify-items: center;
}


.uploadWrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.uploadBox {
  width: 300px;
  height: 350px;
  border: 2px dashed #ccc;
  border-radius: 12px;
  background-color: #fafafa;
  text-align: center;
  padding: 30px 20px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.uploadBox:hover {
  border-color: #888;
}

.icon {
  width: 100px;
  margin-bottom: 20px;
}

.text {
  font-size: 16px;
  color: #333;
}

.link {
  font-size: 16px;
  color: red;
  margin-top: 5px;
}

.hiddenInput {
  display: none;
}

.uploadButton {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: larger;
  font-weight: bold;
}